div.container{
    height: 100vh;
}

div.my-album-box{
    height: 60vh;
}

img.my-main-img,
img.my-album-img{
    width: 100%;
    height: 100%;
}

img.my-main-img{
    object-fit: cover;
}

div.my-box-img{
    height: calc(100% / 5);
    position: relative;
}

button.my-btn{
    position: absolute;
    top: .3rem;
    left: 50%;
    transform: translateX(-50%);
}

button.my-btn-down{
    position: absolute;
    bottom: .3rem;
    left: 50%;
    transform: translateX(-50%);
}

